<section class="navigation">
    <div class="navigation-bar">
        <ul class="left-navbar">
            <li><a routerLink="#">Home</a></li>
            <li><a routerLink="#">Tour</a></li>
            <li><a routerLink="#">Blog</a></li>
        </ul>
        <div class="logo">
            <span>Trello</span>
        </div>
        <ul class="right-navbar">

            <li>
                <button class="signup">Sign Up</button>
            </li>
            <li>
                <button class="login">Login</button>
            </li>


        </ul>

    </div>
    <div class="signup-bar">
        Visually collaborated with anyone.&nbsp;
        <button>
            Sign up for free
        </button>
    </div>
</section>